@page
@model GharchNews.Pages.Admin.Report.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h5 class="alert alert-danger"> آیا از حذف این دسته خبری مطمئن هستید؟ </h5>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.FullText)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Report.FullText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Image)
        </dt>
        <dd class="col-sm-10">
            <img src="/Img/ReportImages/@Model.Report.Image" style="max-width:320px" class="img-thumbnail" /> <br />
            @Html.DisplayFor(model => model.Report.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.ImageAlt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.ImageAlt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.ImageTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.ImageTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Source)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.Source)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Tags)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.Tags)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.View)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.View)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.IsHotNews)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.IsHotNews)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.HotNewsDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.HotNewsDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.ReportGroup)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.ReportGroup.GroupName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Report.ReportId" />
        <input type="submit" value="حذف" class="btn btn-danger" />
        <a asp-page="./Index" class="btn btn-default"> بازگشت به لیست </a>
    </form>
</div>
